.leftbar{
    border:0.05em black solid;
    padding:.5em;
    background-color: green;
    
}
.leftHeadPadding{
    padding-bottom:1em;
}
.labelChosen{
    color:red
}
.labelNotChosen{
    color:black
}