.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Header h1{
  text-align: center;
}

.labelNotChosen{
  color:black
}
.labelChosen{
  color:red
}

.test {
  color:green;
}

#regionLevelId {
  margin: 1px;
  border: 3px solid #4CAF50;
  font-size:.8em;
  width:200px;
  margin-top: 1px;
  margin-bottom: 1px;
}


#regionId {

  margin: 1px;
  border: 3px solid #4CAF50;
  font-size:.8em;
  width:200px;
  margin-top: 1px;
  margin-bottom: 1px;
}


#scenarioCollectionId {
  margin: 1px;
  border: 3px solid #4CAF50;
  font-size:.8em;
  width:200px;
  margin-top: 1px;
  margin-bottom: 1px;

}
.left{
  
  display: block;
  border: 1px solid black;
  padding-top:1em;   
  margin-left:1em;
  background:green;
  padding:7px;
  margin-left:20px;
}
.Middle h1{
  text-align: center;
  background: green;

}
.HeaderRow{
  background-color: green;
  color:black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:17px;

}
.HeaderRow h1{
  text-align: center;
}
.mainRow{
  padding: 0.5em;
  margin-bottom:1em;

}
.Middle{
  padding-top: 1em;
  border:1px solid black;
  background: white;
  margin-left:2em;
  margin-right:2em;
  background: auto;
}
.Right{

  border: 1px solid black;
  padding:1em;
  width: 200px;
  background:green;
}
.padleft{
  padding-left:1em;

  padding-bottom: 0.5em;
}
.paddBottom{
  padding-bottom: 1em;
  padding-top:1em;    
}
#scenarioId{
  font-size: 1em; 
  background-color: lightseagreen;
  color:black;
  border-radius: 30px;
  padding:7px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#periodId{
  background-color: lightseagreen;
  font-size: 120%;
  color:black;
  border-radius: 30px;
  padding:7px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}

#indicatorId {
  font-size: 15px;
  background: lightseagreen;
  border-radius: 30px;
  padding:7px;
  width:100%;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.Graph1{
  padding: auto;
  border-bottom: black;
  float: right;

}
.Graph2{
  padding: auto;
  border-bottom: black;
  float: right;


}
.Graph3{
  padding: auto;
  border-bottom: black;
  float: left;
}
.PageHeader {
  display:block;
  padding-right: 2em;
  font-size: 1.8em !important;
}